h1 {
	text-transform: uppercase;
	font-size: 50px;
	clear: both;
	font-family: Dosis, Open Sans Condensed, Lato, sans-serif;
}
.container {
	width: 720px;
	height: 300px;
	margin: auto;
	padding: 30px 0;
	box-sizing: border-box;
	font-size: 15px;
	line-height: 1.5;
	font-weight: none;
	font-family: Lato, Dosis, Open Sans Condensed, sans-serif;
	text-align: justify;
	margin-bottom: 80px;
}
.live {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35%;
	clear: both;
}
.quote {
	background-image: linear-gradient(135deg,
						transparent,
						transparent 14px,
						rgba(192, 192, 192, 0.1) 14px,
                        rgba(192, 192, 192, 0.1) 15px,
                        transparent 15px,
                        transparent););
	background-size: 20px 20px;
	background-attachment: fixed;	
	border: .25rem solid #ffffff;
	width: 25ch;
	box-sizing: border-box;
	margin: 1em 2em;
	padding: 1em;
}
.quote:nth-of-type(odd) {
	float: left;
}
.quote:nth-of-type(even) {
	float: right;
}
.quote:hover,
.quote:focus {
	text-shadow: 0 0 3px white;
	transition-delay: .4s;
}

cite {
	font-style: italic;
	float: right;
}
.title {
	clear: both;
}