.greet {
	padding: 1.5em;
	font-size: 6em;
	text-align: center;
	background-image: linear-gradient(135deg,
						transparent,
						transparent 14px,
						rgba(192, 192, 192, 0.2) 14px,
                        rgba(192, 192, 192, 0.1) 15px,
                        transparent 15px,
                        transparent););
	background-size: 20px 20px;
	background-attachment: fixed;
	border-top: .1em solid #fff;
	border-bottom: .1em solid #fff;
	height: 4em;
	font-weight: lighter;
}
.greet:hover,
.greet:focus {
	text-shadow: 0 0 3px white;
	transition-delay: .4s;
}
.shows {
	padding: 2em;
	font-size: 1.3em;
	border-collapse: separate;
	border-spacing: 1.5em;
	width: 100%;
	text-align: center;
}
.shows td {
	vertical-align: middle;
	border-bottom: 0.1px solid white;
	padding-bottom: 1.5em;
}

.album {
	font-family: Dosis, Open Sans Condensed, Lato, sans-serif;
	font-size: 6em;
	text-align: center;
	padding: 3em;
	text-transform: uppercase;
	padding-top: 1em;
	font-weight: lighter;
}
.button {
	background-color: transparent;
	border: 2px solid white;
	padding: .5em;
	text-align: center;
	font-size: 1.5em;
	position: relative;
	margin: auto;
	bottom: 8em;
	width: 10%;
	color: white;
	text-decoration: none;
	font-weight: bold;
	display: block;
	border-radius: 5px;
	text-transform: uppercase;
	text-shadow: 1px 1px #000;
}
.button:hover,
.button:focus {
	background-color: white;
	transition: background-color 2s, color 1s;
	color: black;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover,
a:focus {
	text-shadow: 0 0 3px white;
	transition-delay: .1s;
}