.songkick {
	max-width: 100%;
	position: relative;
	padding-bottom:calc(56.25% + 52px);
	height: 0;
}
.bandcamp iframe {
	border: 0; 
	width: 350px; 
	height: 680px;
	padding-left: 10%;
	display: inline-block;
	float: left;
}
.album {
	padding-top: 40px;
	background-color: rgba(0,0,0, 0.9);
}
.album img {
	width: 32%;
	padding-left: 15%;
	padding-top: 5px;
	float: left;
}
.spotify {
	background-image: url(../img/spotify.svg);
	background-repeat: no-repeat;
}
.itunes {
	background-image: url(../img/itunes.svg);
	background-repeat: no-repeat;
}
.youtube {
	background-image: url(../img/youtube.svg);
	background-repeat: no-repeat;
}
.amazon {
	background-image: url(../img/amazon.svg);
	background-repeat: no-repeat;
}
.songwhip {
	background-image: url(../img/songwhip.svg);
	background-repeat: no-repeat;
}
.platform-icons {
	margin: 15px;
	padding-left: 49%;
	box-sizing: border-box;
}
.platform-icons li a:hover,
.platform-icons li a:focus {
	opacity: .5;
		filter: alpha(opacity=50);
	box-shadow: 2px 0 2px white;
	border-radius: 50%;
	transition: .3s;
}
.platform-icons li {
	display: inline-block;
}
.platform-icons a {
	display: inline-block;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	padding-right: 5px; 
}
main {
	padding-bottom: 80px;
	flex-grow: 1;
}
h1, h2 {
	font-size: 50px;
	font-family: Dosis, Open Sans Condensed, Lato, sans-serif;
	clear: right;
	padding-left: 50%;
}
h2 {
	font-size: 30px;
}
strong {
	text-transform: uppercase;
}
p, .number {
	font-family: Lato, Dosis, Open Sans Condensed, sans-serif;
	line-height: 1.5em;
}
.bandcamp {
	padding-left: 50%;
	padding-bottom: 1%;
	font-size: 1.5em;
}
.bandcamp:hover,
.bandcamp:focus {
	text-shadow: 0 0 3px white;
	transition-delay: .1s;
}
a {
	text-decoration: none;
	color: inherit;
}
.tracklist {
	padding-left: 50%;
	height: 300px;
}
.box {
	background-color: #000000;
}
img#fullop {
	opacity: 1;
	background-color: rgba(0,0,0,1);
	width: 390px;
	height: auto;
}
.info {
	margin-left: 12%;
}