html {
	height: 100%;
}
body {
	background-color: #000000;
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 8em;
}
body, .bottom-page {
	color: #ffffff;
	font-family: Dosis, Open Sans Condensed, Lato, sans-serif;
	font-size: 100%;
}
.navigation {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	padding-right: 2%;
}
.navigation ul {
	position: absolute;
	right: 0;
    display: table;
    z-index: 3000;
    vertical-align: middle;
    text-shadow: 2px 2px #000;
}
li a {
	display: block;
	width: 100px;
	margin: 0 10px;
	padding-top: 4em;
	padding-bottom: 3em;
	text-decoration: none;
	color: #ffffff;
}
li {
	display: table-cell;
    vertical-align: middle;
}
li a:hover,
li a:focus {
	opacity: .5;
		filter: alpha(opacity=50);
}
.main-title {
	text-transform: uppercase;
	font-family: Oswald, Dosis, sans-serif;
	font-size: 3em;
	padding: 1em 1em;
}
.bottom-page {
	margin-top: 80px;
	padding: 2em 1em;
	background-color: #111111;
	opacity: .5;
		filter: alpha(opacity=50);
	width: 100%;
	position: absolute;
	bottom: 0;
}
h1 {
	text-transform: uppercase;
	text-shadow: 2px 2px #000;
}
.background {
	background-image: url('../img/blackmess-definitivo.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-position-x: 50%;
	background-attachment: fixed;
	background-size: 42em;
	height: 45em;
}
